.RegisterMain {
  background-color: black;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;

  .captcha {
    position: relative;

    left: 8rem;
  }
  span {
    color: white;
  }
}
