.mainShoppingList {
  height: 77vh;

  .header {
    background-color: burlywood;
    height: 10vh;
  }
  .body {
    background-color: grey;
    height: 60vh;
  }

  .footer {
    background-color: chartreuse;
    height: 7vh;
  }
}
