.header {
  color: white;
  .main {
    position: relative;
    min-height: 10vh;
    width: 100%;
    // background: rgb(1, 4, 2);
    // background: linear-gradient(
    //   90deg,
    //   rgba(1, 4, 2, 1) 4%,
    //   rgba(0, 10, 36, 1) 22%,
    //   rgba(36, 139, 53, 1) 97%
    // );
    background-color: black;
  }
  .ulStyle {
    list-style: none;

    a {
      color: white;
      font-size: 16px;
    }
  }

  .invisible {
    display: none;
  }

  .icon_size {
    cursor: pointer;
    position: relative;
    font-size: 40px;
    align-self: center;
    right: 10px;
  }

  .responsive_menu {
    background-color: rgb(230, 224, 224);
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 80%;

    li {
      list-style: none;
      a {
        color: black;
      }
    }
  }
}
